<footer>

  <ion-row class="bg-orange pt-2 px-4">

    <ion-col class="mb-2" size="12" sizeMd="12" sizeLg="3" sizeXl="3" >
      <p class="text-white mb-0"><strong>Call Center</strong> </p>
      <ion-row class="d-flex align-items-center mb-3">
        <ion-col size="1"><img src="assets/images/call.svg" alt="" srcset=""></ion-col>
        <ion-col size="11" class="text-start"><span class="text-white">600 600 0018</span> </ion-col>
      </ion-row>


      <p class="text-white mb-0"><strong>Escribenos</strong> </p>
      <ion-row class="d-flex align-items-center mb-2">
        <ion-col size="1"><img src="assets/images/mail.svg" alt="" srcset=""></ion-col>
        <ion-col size="11" class="text-start"><span class="text-white">info@pullmanbus.cl</span> </ion-col>
      </ion-row>


      <p class="text-white mb-0"><strong>Casa Matriz Pullman Bus</strong> </p>
      <ion-row class="d-flex align-items-center">
        <ion-col size="1"><img src="assets/images/location-pin.svg" alt="" srcset=""></ion-col>
        <ion-col size="11" class="text-start"><span class="text-white">info@pullmanbus.cl</span> </ion-col>
      </ion-row>

    </ion-col>
    <ion-col class="mb-2" size="12" sizeMd="12" sizeLg="3" sizeXl="3">

      <p class="text-white mb-0"><strong>Información al consumidor</strong> </p>

      <ion-row class="d-flex align-items-center">
        <ion-col size="11" class="text-start"><span class="text-white">Conoce tus derechos</span><img src="assets/images/next.svg" alt="" class="ms-2" srcset=""> </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row class="d-flex align-items-center">
        <ion-col size="11" class="text-start"><span class="text-white">Política de privacidad</span> <img src="assets/images/next.svg" alt="" class="ms-2" srcset=""></ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row class="d-flex align-items-center mb-3">
        <ion-col size="11" class="text-start"><span class="text-white">Términos y condiciones de pasajes </span><img src="assets/images/next.svg" alt="" class="ms-2" srcset=""> </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row class="d-flex align-items-center ">
        <ion-col class="text-start"><span class="text-white">Menu </span> <img src="assets/images/next.svg" alt="" class="ms-2" srcset=""></ion-col>

      </ion-row>
      
    </ion-col>
    <ion-col class="mb-2" size="12" sizeMd="12" sizeLg="3" sizeXl="3">
      <p class="text-white mb-3"><strong>Buscanos en</strong> </p>

      <div class="d-flex align-items-center">
       <img src="assets/images/facebook.svg" alt="" class="ms-2" srcset=""> 
        <img src="assets/images/instagram.svg" alt="" class="ms-2" srcset="">
      </div>
    </ion-col>
    <ion-col class="mb-2" size="12" sizeMd="12" sizeLg="3" sizeXl="3">
      <p class="text-white mb-3"><strong>Pago Seguro</strong> </p>
      <img src="assets/images/webpay.png" alt="" srcset="">
    </ion-col>
  </ion-row>

  <ion-row class="bg-dark-orange pt-2 px-4">
    <ion-col size="12" sizeMd="12" sizeLg="3" sizeXl="3" class="text-start">
      <p class="text-white mb-0">Todos los derechos reservados, 2021</p>
      <span class="text-white" >Versión:3.2.1</span>
    </ion-col>
    <ion-col size="12" sizeMd="12" sizeLg="9" sizeXl="9" class="text-xl-end text-md-start">
      <p class="text-white">Desarrollado por WIT Innovación y tecnología SPA</p>
    </ion-col>
  </ion-row>

</footer>
