.home {
  background-image: url("/assets/images/home.png"); /* linear-gradient(rgb(0 0 0 / 82%), rgb(0 0 0 / 82%)) */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.6vw;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}


p {
  font-size: 1.3vw;
  line-height: 1.2;
}

span {
  font-size: 15px !important;
}

.font-price{
    font-size: 2.6vw;
}

@media (min-width: 601px)and (max-width: 1000px) {
  p {
    font-size: 3vw;
  }

  .font-price{
    font-size: 6vw;
}
}


@media only screen and (max-width: 600px) {
  p {
    font-size: 5.5vw;
  }

  .font-price{
    font-size: 10vw;
}
}


.background-gradient {
  background: transparent linear-gradient(180deg, #ffffffd1 0%, #ebebebe0 100%)
    0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border-radius: 10px;
  opacity: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

:hover .poster-modal {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  p,
  .solo {
    color: rgb(0, 0, 0) !important;
  }

  h1 {
    color: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  p,
  .solo {
    color: rgb(0, 0, 0) !important;
  }

  h1 {
    color: rgb(0, 0, 0);
  }
}
