
<ion-content [fullscreen]="true">
  <app-top-toolbar></app-top-toolbar>
  <div class="home py-4">

    <ion-row class="d-flex justify-content-center mt-2">
      <ion-col [size]="12" [sizeMd]="10" [sizeLg]="10" [sizeXl]="8"  class="text-center" >
        <h1 class="mb-0">Conoce los nuevos beneficios que en Pullman tenemos para ti</h1>
      </ion-col>
    </ion-row>

    <ion-row class="d-flex justify-content-center"><!-- Descripciones -->

      <ion-col [size]="12" [sizeMd]="12" [sizeLg]="11" [sizeXl]="col"  >
        <ion-row class="d-flex justify-content-evenly">
          <ion-col class="" [size]="12" [sizeMd]="6" [sizeLg]="6" [sizeXl]="colDescription">
    
            <ion-row>
              <ion-col size="12" class="poster-modal hvr-grow background-gradient text-center " (click)="openDialog('assets/images/servicio-live-gps.png')"><img class="px-3 py-3" src="assets/images/live-gps.png" width="200"  ></ion-col>

              <ion-col size="12" class="description background-gradient mt-3 px-1 py-2 ">

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark-1.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1">Posicionamiento de tu vehículo en tiempo real.</p>  </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark-1.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1">Trazabilidad, odómetro, combustible, excesos de velocidad, etc.</p>  </ion-col>
                </ion-row>
                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark-1.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1">Solución con plataforma web y App Mobile.</p>  </ion-col>
                </ion-row>

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="9.5">
                    <span class="solo">Sólo por </span>
                    <p class="mb-0 font-price" ><strong>$10.490</strong><span>/mes</span></p>
                    <span style="line-height: 1;" class="text-gray">*El valor será automáticamente descontado por planilla.</span>
                  </ion-col>
                </ion-row>

              </ion-col>
              
              <ion-col size="12" class="mt-3 mb-3">
                <button type="button" routerLink='/affiliation-live-gps'  class="btn btn-primary py-3 w-100 " style="background-color: #003590;border-color: #003590;"><strong>CONTRATAR</strong> </button>
              </ion-col>

            </ion-row>
    
          </ion-col>
    
          <ion-col class="" [size]="12"[sizeMd]="6"[sizeLg]="6" [sizeXl]="colDescription">
    
            <ion-row>
              <ion-col size="12" class="poster-modal hvr-grow background-gradient text-center" (click)="openDialog('assets/images/servicio-go-movie.png')"><img class="px-3 py-3" src="assets/images/go-movie.png" width="200"  ></ion-col>

              <ion-col size="12" class="description background-gradient mt-3 px-1 py-2 ">

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1">Más de ___ películas y series a tu disposición.</p>  </ion-col>
                </ion-row>

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1">Películas, series, documentales y mucho más.</p>  
                  <!-- <p class="ps-1"></p> -->
                  </ion-col>
                </ion-row>

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="0.8" ><img class="pt-1" src="assets/images/Icon ionic-ios-checkmark.svg" alt=""></ion-col>
                  <ion-col size="9"><p class="ps-1" style="margin-bottom: 2.45vw;">Diversión y entretenimiento a solo un click.</p>  </ion-col>
                </ion-row>

                <ion-row class="d-flex justify-content-center">
                  <ion-col size="9.5">
                    <span>Sólo por </span>
                    <p class="mb-0 font-price" ><strong>$1.490</strong><span>/mes</span></p>
                    <span style="line-height: 1;" class="text-gray">*El valor será automáticamente descontado por planilla.</span>
                  </ion-col>
                </ion-row>

              </ion-col>

              <ion-col size="12" class="mt-3 mb-3">
                <button type="button" routerLink="/affiliation" class="btn btn-warning py-3 w-100 " style="background-color: #D1CB04;"><strong>CONTRATAR</strong> </button>
              </ion-col>


            </ion-row>
         
          </ion-col>
          
        </ion-row>
      </ion-col>

    </ion-row><!-- Descripciones -->
  </div>

  <app-footer></app-footer>

</ion-content>
