/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1,h2,h3,h4,h5{
    font-family: 'SF Pro Display Bold'!important;
    font-weight: normal!important;
  }
  
  strong{
    font-family: 'SF Pro Display Bold'!important;
    font-weight: normal!important; 
  }
  
  p{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
  }
  
  a{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
  }
  /* 
  span{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
  } */
  
  ion-text{
    font-family: 'SF Pro Display Regular'!important;
    font-weight: normal!important;
  }
  

.bg-orange{
    background-color: #ff5001!important;
}

.bg-dark-orange{
  background-color: #EA4006;
}

.text-gray{
  color: #707070!important;
}

.text-white{
  color: white!important;
}

.text-dark-gray{
  color: #363636!important;
}

.btn{
  border-radius: 1.25rem!important;
  box-shadow: 2px 2px 10px #00000080;
}
